.purchase-container {
    max-width: 100%;
    min-width: 998px;
    margin: 0 auto;
    padding: 14px 18px 18px;
    background-color: #EAEDED;
    position: relative;
}

.purchase-container .row {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.cart-header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}